.navbar {
  background-color: #fff;
  display: flex;
  padding: 0 5px 0 5px;
}

.navbar__logo {
  padding-left: 8px;
  padding-right: 8px;
  color: rgb(33, 33, 33);
  display: flex;
  align-items: center;
}

.navbar__logo {
  justify-content: center;
}

.navbar__logo_img {
  width: 35px;
  height: 35px;
}

.navbar__logo_text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  font-size: 1.25rem;
}

.navbar__logo:hover {
  cursor: pointer;
}

.navbar__items {
  display: flex;
}

.navbar__items_right {
  margin-left: auto;
  align-items: center;
}

.navbar__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000;
}

.navbar__link:hover {
  cursor: pointer;
}

.navbar__link p {
  margin: 0 5px;
}

.navbar__link_icon {
  color: gray;
}

.userArea {
  margin-right: 5px;
}

.navbar__toggle {
  display: none;
}

@media only screen and (min-width: 800px) {
  .navbar__items_links {
    align-items: center;
  }
}

@media only screen and (max-width: 800px) {
  .navbar__items, .navbar {
    flex-direction: column;
  }
  .navbar__items {
    display: none;
  }
  .navbar__items_right {
    margin-left: 5px;
  }
  .navbar__toggleShow {
    display: flex;
  }
  .navbar__toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    margin-top: 10px;
  }
  .navbar__items_links {
    flex-direction: column;
  }
  .navbar__items_right {
    margin-left: unset;
    align-items: unset;
  }
}

.navbar__items_links {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.nodecor {
  text-decoration: none;
}