.dropdown {
  margin: 0 5px;
}

.dropdown__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 768px) {
  .dropdown__menu {
    position: absolute;
  }
}

.dropdown__menu {
  margin: 0;
  padding: 5px;
  display: none;
  background-color: white;
  list-style-type: none;
  border: 1px solid;
  border-image: 
    linear-gradient(
      to top, 
      rgb(133, 133, 133), 
      white
    ) 1 100%;
  z-index: 100;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown:hover .dropdown__header_text {
  font-size: 1.1rem;
}

.dropdown:hover>.dropdown__menu {
  display: block;
}

.dropdown__header_text {
  margin: 0;
}

.dropdown__header_icon {
  color: #a4a4a4;
  margin-top: -3px;
  font-size: 0.8rem;
}

.dropdown__menu a {
  text-decoration: none;
  color: black;
}

.dropdown__menu_item {
  padding: 5px;
  border-radius: 3px;
}

.dropdown__menu_item:hover {
  background-color: #efefef;
  cursor: pointer;
}