/* .row .column {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 40px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 6px;
}

@media screen and (max-width: 800px) {
  .row {
    padding: 0 20px;
  }
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .row {
    padding: 0;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
*/

.grid__spinnerArea {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px;
}