.c-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.appForm__title {
  text-align: center;
}

.c-form__form {
  width: 80%;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .c-form__form {
    width: 95%;
  }
}

.appForm__btn {
  border: none;
  padding: 10px 30px;
  margin: 0 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.appForm__btn_submit {
  background-color: rgb(75, 182, 79);
  color: white;
}

.appForm__errorArea {
  color: crimson;
  font-size: 0.8rem;
}

.appForm__signup {
  font-size: 0.8rem;
}

.appForm__btnArea {
  margin: 20px 0;
}